syntax = "proto3";

package {{.PROJECT_NAME}}.{{.MODULE_NAME}}.v1;

import "cosmos/app/v1alpha1/module.proto";

message Module {
  option (cosmos.app.v1alpha1.module) = {
    go_import: "{{.PROJECT_NAME}}/x/{{.MODULE_NAME}}"
  };
  string authority = 1;
}